/* File Created: September 16, 2014 */
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee !important;
}

.input-switch-validation-error {
    border: 1px solid #ff0000;
    background-color: #feeeee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}